* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header nav {
  background-color: #8fa;
  position: fixed;
  width: 100%;
  font-size: 18px;
}

.logo {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: normal;
  text-shadow: 0 0 10px orange;
  animation-name: logo-animate;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.title {
  position: absolute;
  font-size: 30px;
  inset: 8px 0 0 8px;
  color: orange;
  z-index: -1;
}

@keyframes logo-animate {
  0% {
    text-shadow: 0 0 0 orange;
  }
  30% {
    text-shadow: 0 0 5px orange;
  }
  60% {
    text-shadow: 0 0 10px orange;
  }
  80% {
    text-shadow: 0 0 15px orange;
  }
  100% {
    text-shadow: 0 0 30px orange;
  }
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  margin: 5px 5px;
  padding: 18px 8px;
}

header nav ul li:hover {
  background-color: orange;
  /* padding: 3px; */
  border-radius: 18px;
  transition: 0.4s;
}



a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

a:active {
  color: #000;
}

/* aside {
    background-color: #8fa;

} */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav span {
  color: orange;
  position: relative;
  inset: -30px 0 0 0;
  font-size: 36px;
}
/* .sidenav span:hover {
  text-shadow: 0 0 15px #fff;
} */

/* The navigation menu links */
.sidenav a,
.closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.touglebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.touglebtn {
  top: 5px;
  padding: 4px;
}

.touglebtn:hover {
  background-color: #8885;
  border-radius: 15px;
  transition: 0.4s;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 86px 20px 20px 20px;
}

footer {
  background-color: #9995;
  padding: 15px;
  color: #000;
}

footer p {
  text-align: center;
  font-size: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .sidenav span {
    inset: -6px 0 0 0;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  nav ul {
    
  }
}
